body {
    margin: 0;
}
canvas {
    border: 1px solid black;
}

.screen {
    float:left;
    border: 1px solid black;
}

.rotationControls {
    float:left;
    /*border: 1px solid black;*/

}

.rotationControls input {
    float: right;
}

.colorFloat {
    /*border: 1px solid black;*/
    height: 22px;
}

.colorFloat label{
    float:left;
}

.colorFloat input{
    float:left;
}

.colorFloat .picker {
    height: 22px;
    width: 24px;
    border: 0;
    padding: 0;
}

.colorValue {
    width: 55px;
}